
<button mat-raised-button type="submit" (click)="OnClickShowAdd()">{{showAddText}}</button>
<add-incident *ngIf="showAdd"></add-incident>
<button mat-raised-button color="" type="submit" (click)="onRemoveSelected()">Deleted Selection</button>

<h3>Incidents List</h3>
<ag-grid-angular 
    style="width: 1300px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="incidents" 
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    (cellValueChanged)="onCellValueChanged($event)"
    (gridReady)="onGridReady($event)"
    >
</ag-grid-angular>