<h2>Incident Details</h2>

<form [formGroup]="incidentForm" (ngSubmit)="onSubmit()">
  
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>

  <label>
    Type:
    <input type="text" formControlName="type">
  </label>

  <div formGroupName="values">
    <h4>Values</h4>
    <label>
      Value1:
      <input type="text" formControlName="value1">
    </label>
    <label>
      Value2:
      <input type="text" formControlName="value2">
    </label>
    <label>
      Value3:
      <input type="text" formControlName="value3">
    </label>
  </div>

  <label>
    Note:
    <input type="text" formControlName="note">
  </label>

  <button type="submit" [disabled]="!incidentForm.valid">Submit</button>

</form>

<hr>

<p>
  Form Value: {{ incidentForm.value | json }}
</p>

<p>
  Form Status: {{ incidentForm.status }}
</p>