<h3>Add Incident</h3>
<form [formGroup]="incidentForm" class="tna-form">
    <mat-form-field class="tna-full-width">
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="tna-full-width">
        <input matInput placeholder="Type" formControlName="type">
    </mat-form-field>


    <mat-form-field>
        <input type="text" matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date"> 
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>





  <div formArrayName="details">
    <div *ngFor="let detail of details.controls; let i=index">
      <!-- The repeated alias template -->
      <mat-form-field class="tna-full-width">
          <input matInput placeholder="Detail" [formControlName]="i">
      </mat-form-field>
    </div>
    <button mat-raised-button (click)="addDetail()">Add another detail</button>
  </div>
  
  <mat-form-field class="tna-full-width">
      <textarea matInput placeholder="Additional notes here" formControlName="note"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!incidentForm.valid">Submit</button>
</form>

<hr>
<p >
  Form Value: {{ incidentForm.value | json }}
</p>
<p>
  Form Status: {{ incidentForm.status }}
</p>