@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

$primary-colour: #673ab7;

.tna-main-content {
    padding-left: 15px;
    padding-right: 15px;
}

.tna-form {
    min-width: 100px;
    max-width: 500px;
    width: 100%;
}
  
.tna-full-width {
    width: 100%;
}

.tna-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.tna-add-card {
    margin-bottom: 20px;
}

mat-toolbar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $primary-colour;
    }

    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #111;
    }
}

  
