@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

.tna-main-content {
    padding-left: 15px;
    padding-right: 15px;
}

.tna-form {
    min-width: 100px;
    max-width: 500px;
    width: 100%;
}
  
.tna-full-width {
    width: 100%;
}

.tna-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}